<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
		<string>es</string>
		<string>de</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>__EXECUTABLE__</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>__BUNDLE_ID__</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>__APP_NAME__</string>
	<key>CFBundleDisplayName</key>
	<string>__APP_NAME__</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD__</string>
	<key>LSMinimumSystemVersion</key>
	<string>__MIN_MACOS__</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>__SPARKLE_FEED_URL__</string>
	<key>SUPublicEDKey</key>
	<string>__SPARKLE_PUBLIC_KEY__</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>__BUNDLE_ID__</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spacebar</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Show in Spacebar</string>
			</dict>
			<key>NSMessage</key>
			<string>showInSpacebar</string>
			<key>NSPortName</key>
			<string>__APP_NAME__</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Spacebar measures your Desktop to show what is using disk space.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Spacebar measures your Documents folder to show what is using disk space.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Spacebar looks for old and large downloads you may want to remove.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Spacebar finds near-duplicate photos in your library. Photos are analyzed on your Mac and never leave it.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Spacebar asks Finder to empty the Trash when it can't access the Trash itself.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Spacebar can measure external drives you choose to scan.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Spacebar can measure network drives you choose to scan.</string>
</dict>
</plist>
